<h1>Inscrire un expert</h1>
<hr>
<div class="col-md-6">
    <form #newExpertForm="ngForm" (ngSubmit)="saveExpert(newExpertForm.value)" autocomplete="off" novalidate>
        <div class="form-group" [ngClass]="{'error': newExpertForm.controls.name?.invalid && newExpertForm.controls.name?.touched}">
            <label for="expertName">Nom de l'expert :</label>
            <em *ngIf="newExpertForm.controls.name?.invalid && (newExpertForm.controls.name?.touched)">Obligatoire</em>
            <input (ngModel)="name" name="name" required id="name" type="text" class="form-control" placeholder="Nom de l'expert..." />
        </div>
        <div class="form-group" [ngClass]="{'error': newExpertForm.controls.role?.invalid && newExpertForm.controls.role?.touched}">
            <label for="expertRole">Rôle de l'expert :</label>
            <em *ngIf="newExpertForm.controls.role?.invalid && (newExpertForm.controls.role?.touched)">Obligatoire</em>
            <input (ngModel)="role" name="role" required id="expertRole" type="text" class="form-control" placeholder="Rôle de l'expert..." />
        </div>
        <div class="form-group" [ngClass]="{'error': newExpertForm.controls.expertise?.invalid && newExpertForm.controls.expertise?.touched}">
            <label for="expertExpertise">Expertise :</label>
            <em *ngIf="newExpertForm.controls.expertise?.invalid && (newExpertForm.controls.expertise?.touched)">Obligatoire</em>
            <input (ngModel)="expertise" name="expertise" required id="expertExpertise" type="text" class="form-control" placeholder="Expertise..." />
        </div>

        <div class="form-group" [ngClass]="">
            <label for="expertTool">Outil de travail :</label>
            <select (ngModel)="tool" class="form-control" required id="expertTool" name="tool" [compareWith]="compareTools">
                <option *ngFor="let tool of availableTools" [ngValue]="tool">{{tool.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="specialSkill">Talent :</label>
            <input (ngModel)="specialSkill" name="specialSkill" id="specialSkill" type="text" class="form-control" placeholder="Talent..." />
        </div>
        <!--

            If we have a nested object we can wrap it under a ngModelGroup
            <div ngModelGroup="nestedProp">
                <input (ngModel)="prop"...
            </div>

            If we want two way binding we use [(ngModel)]="expert.name"

-->

        <div class="form-group" [ngClass]="{'error': newExpertForm.controls.photo?.invalid && newExpertForm.controls.photo?.touched}">
            <label for="photo">Photo :</label>
            <em *ngIf="newExpertForm.controls.photo?.invalid && newExpertForm.controls.photo?.touched && newExpertForm.controls.photo?.errors.required">Obligatoire</em>
            <em *ngIf="newExpertForm.controls.photo?.invalid && newExpertForm.controls.photo?.touched  && newExpertForm.controls.photo?.errors.pattern">Doit être une URL au format png ou jpg</em>
            <input (ngModel)="photo" name="photo" required pattern=".*\/.*.(png|jpg)" id="photo" type="text" class="form-control" placeholder="URL de la photo..." />
            <img [src]="newExpertForm.controls.photo.value" *ngIf="newExpertForm.controls.photo?.valid" />
        </div>

        <button type="submit" [disabled]="newExpertForm.invalid" class="btn btn-primary">Valider</button>
        <button type="button" class="btn btn-default" (click)="cancel()">Annuler</button>
    </form>
</div>